include ../partials/header1.pug
  body
    .container 
      include ../partials/navbar.pug
    div(class="container")
      div(class="row d-flex justify-content-center")
        h1#c2 Pending complaints 
      .container 
        include ../partials/flash.pug
      if complaints.length===0 
        .container 
          div(class="alert alert-info padbott" role='alert') No pending complaints 
      .row 
        each complaint in complaints 
          div(class="col-md-4")
            #complaintBox.card.shadow.p-3.mb-5.bg-white.rounded
              .card-body
                h5.card-title= complaint.email
                p.card-text= complaint.description
              form#approve(action=`/admin/complaints/${complaint._id}?_method=PUT` method='POST')
                input.btn.btn-success(type='submit' value='Resolve')
    include ../partials/footer.pug
        
       