include ../partials/header1.pug
  body
    .container.c1
      h1.cen Welcome to Admin Dashboard
      .row
        .col-md-6.d-flex.justify-content-center
          a.btn.btn-primary.btn-lg.btn-block(href='/admin/explore') Pending Posts
        .col-md-6.d-flex.justify-content-center
          a.btn.btn-primary.btn-lg.btn-block(href='/admin/opportunities') Pending Opportunities
        .col-md-6.d-flex.justify-content-center
          a.btn.btn-primary.btn-lg.btn-block(href='/admin/blogcategories') Add Blog categories
        .col-md-6.d-flex.justify-content-center
          a.btn.btn-primary.btn-lg.btn-block(href='/admin/complaints' style='height: fit-content;') Login complaints
    include ../partials/footer.pug
