include ../partials/header1.pug
  body
    div(class="container")
      div(class="row d-flex justify-content-center")
        h1#c2 Pendding Opp 
      div(class="container")
        include("../partials/flash.pug")
      if opportunities.length == 0
        div(class="container")
          div(class="alert alert-info padbott" role='alert')    No pending
      div(class='row')
        each opportunity in opportunities
          div(class="col-lg-4")
            div(class="card shadow p-3 mb-5 bg-white rounded")
              img(src="#{opportunity.image}" class="card-img-top")
              div(class="card-body")
                h5(class="card-title") #{opportunity.heading.substring(0,100)}
                p(class="card-text") #{opportunity.shortDescription}
                  div
                    a(href="/admin/opportunities/#{opportunity._id}" id="more" class="btn") Read more