//- hr.white-line
//- footer.footer
//-   .container-fluid
//-     .row
//-       .col-md-6.bot2
//-         h4.fs Get Started Today
//-         p
//-           i.fas.fa-map-marker-alt
//-           |  Hà Nội, Việt Nam
//-         p
//-           i.fas.fa-envelope
//-           |   kngocha15999@gmail.com
//-         p
//-           a(href='https://aafngo.org' target='_blank')
//-             i.fas.fa-external-link-square-alt
//-             |   Lê Nguyên Hà
//-         span
//-           a#fb.mr-1(href='https://www.facebook.com/ashaakankshafoundation' target='_blank')
//-             i.fab.fa-facebook-square.fa-2x
//-         span
//-           a#tweet.mr-1(href='https://twitter.com/asha_akan_found' target='_blank')
//-             i.fab.fa-twitter-square.fa-2x
//-         span
//-           a#insta.mr-1(href='https://www.instagram.com/asha_akankshafoundation' target='_blank')
//-             i.fab.fa-instagram-square.fa-2x
//-         span
//-           a#tele.mr-1(href='https://t.me/teamaaf' target='_blank')
//-             i.fab.fa-telegram.fa-2x
//-         span
//-           a#lin.mr-1(href='https://www.linkedin.com/company/asha-akanksha-foundation' target='_blank')
//-             i.fab.fa-linkedin.fa-2x
//-         span
//-           a#yt.mr-1(href='https://www.youtube.com/channel/UCtK50fdfmAfcI5MKs4Waxng' target='_blank')
//-             i.fab.fa-youtube-square.fa-2x
//-       .col-md-6.bot2
//-         img#logo2(src='https://imgur.com/uXsCUrR.jpg' style='margin:0 1rem 2rem 0;' alt='Asha Akansha Foundation Logo')
//-         h4.fs.fs3
//-           | About Asha Akanksha Foundation
//-         p.fs2
//-           | Asha Akanksha Foundation is a non-government organization established in the year 2013 working to spread awareness in the society a
//-           nd provide quality education to those who are void of it. Free education, craft classes, dance classes, menstrual hygiene camps are
//-            some such initiatives taken by us. We make sure that all our actions and undertakings help in creating awareness on various societ
//-            al issues which are of grave importance such as gender equality, women empowerment, child labor and more.
hr.white-line
footer.footer2
  .container
    p#center Copyright &copy; 2022 by Lê Nguyên Hà Dev VNDIRECT
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
