#fixed-social
  div
    a.fixed-facebook(href='https://www.facebook.com/ashaakankshafoundation' target='_blank' rel='noopener' noreferrer='')
      i.fa.fa-facebook
      span Facebook
  div
    a.fixed-twitter(href='https://twitter.com/asha_akan_found' target='_blank' rel='noopener' norefferer='')
      i.fa.fa-twitter
      span Twitter
  div
    a.fixed-instagrem(href='https://www.instagram.com/asha_akankshafoundation' target='_blank' rel='noopener' norefferer='')
      i.fa.fa-instagram
      span Instagram
  div
    a.fixed-telegram(href='https://t.me/teamaaf' target='_blank')
      i.fab.fa-telegram-plane(rel='noopener' norefferer='')
      span Telegram
  div
    a.fixed-yt(href='https://www.youtube.com/channel/UCtK50fdfmAfcI5MKs4Waxng' target='_blank' rel='noopener' norefferer='')
      i.fab.fa-youtube
      span YouTube
  div
    a.fixed-linkedin(href='https://www.linkedin.com/company/asha-akanksha-foundation' target='_blank' rel='noopener' norefferer='')
      i.fa.fa-linkedin
      span LinkedIn
