.icon-bar
  a.facebook(href='https://www.facebook.com/ha.sieusao.7/' target='_blank')
    i.fa.fa-facebook
  a.twitter(href='https://twitter.com/asha_akan_found' target='_blank')
    i.fa.fa-twitter
  a.instagram(href='https://www.instagram.com/asha_akankshafoundation' target='_blank')
    i.fa.fa-instagram
  a.linkedin(href='https://www.linkedin.com/company/asha-akanksha-foundation')
    i.fa.fa-linkedin(target='_blank')
  a.telegram(href='https://t.me/teamaaf' target='_blank')
    i.fab.fa-telegram-plane
  a.youtube(href='https://www.youtube.com/channel/UCtK50fdfmAfcI5MKs4Waxng' target='_blank')
    i.fa.fa-youtube
