include ./partials/header1.pug
  body
    .container.txt6
      .text-center.ss
        i.fas.fa-quote-right
        i
          div
            | Kuch baatein, kuch sawaal
          div
            | Jo Koi bole na, koi puche na
          div
            | Aao baithe ham aur aap
          div
            | Kuch dabbe mudde khole na
        i.fas.fa-quote-right
      p.text-justify.abt1-about
        | Parvaaz parindey, an attempt to take a leap into the sky of the unspoken. We are here to shed some light on the things that might be unsettling, but are of great essence to each one of us. There are so many things we are oblivious to, some unconsciously and some on purpose because they make us uncomfortable. But it is important that we join hands and raise our voice together, that we educate ourselves and others and become better members of the society.
      p.text-justify.abt2-about
        | Parvaaz Parindey is an initiative of Asha Akanksha Foundation to put such issues, that have been ignored for centuries in a spotlight. We hope that through this initiative we can educate people and make them aware about the problems that no one is questioning!
