include ./partials/header1.pug
  body
    div(class="container last")
      div(class="text-center")
        h2#signh Sig Up 
        form(action="/register" method='POST')
          div(class="form-group")
            input(type="email" class="form-control" name="username" placeholder="Username...." required)
          div(class="form-group")
            input(type="text" class='form-control' name="name" placeholder="Name ...." required)
          div(class="form-group")
            input(type="password" class='form-control' name="password" placeholder="Pass ...." required)
          button(class="btn btn-lg mb-3") Submit 
          a(href="/login" style="float:right") Already have an account? Login