.heading {
  font-size: 4rem;
}

.jumbotron {
  height: 60vh;
  /* padding-top: 200px; */
  background-image: url("../image/image.png");
  background-position: center;
}

.jumbotron + .container {
  padding: 0 5%;
}

a.nav-link,
a.navbar-brand {
  color: #fff !important;
}

textarea {
  width: 100%;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
