include ../partials/header1.pug 
  body
    .container
      h1#oh2.text-center Add a New Opportunity
      p#p1.text-justify
        | Fill this form for any new opportunities that could help others. Our goal is
        | to make everyone aware about the latest opportunities in different fields!
        | Note: The information in this form will be reviewed by us before posting to
        | ensure it is genuine. The fields marked with
        span.asterisk *
        |  are mandatory.
      form(action='/opportunities' method='POST' enctype='multipart/form-data')
        .form-group
          label(for='formGroupExampleInput')
            | Heading 
            span.asterisk *
          input#formGroupExampleInput.form-control(type='text' name='opportunity[heading]' required='')
          small.form-text.text-muted This will appear as the heading of your opportunity
        .form-group
          label(for='formGroupExampleInput') Short Description(100 Characters)
          input#formGroupExampleInput.form-control(type='text' name='opportunity[shortDescription]' maxlength='100' required='')
          small.form-text.text-muted This will appear under the heading on the main page
        .form-group
          label(for='formGroupExampleInput2')
            | About the Organisation 
            span.asterisk *
          #organisation.white
          input#o1(type='hidden' name='opportunity[organisation]' required='')
        .form-group
          label(for='exampleFormControlTextarea1')
            | About the Competition/Event/Opportunity
            span.asterisk *
          #detail.white
          input#o2(type='hidden' name='opportunity[detail]' required='')
        .form-row
          .col-lg-4
            .form-group
              label(for='exampleFormControlFile1')
                | Upload Poster/Image (Orientation: Square/Landscape)
                span.asterisk *
              input#exampleFormControlFile1.form-control-file(type='file' name='image' accept='image/*' required='')
              small.form-text.text-muted Only .jpg/.jpeg/.png formats allowed. Max. size 0.5MB
          .col-lg-8
            .form-group
              label(for='inlineFormCustomSelect')
                | Choose Category 
                span.asterisk *
              select#inlineFormCustomSelect.custom-select.mr-sm-2(name='opportunity[category]' required='')
                option(value='1') Science and Technology
                option(value='2') Business, management and administration
                option(value='3') Legal
                option(value='4') Media and Journalism
                option(value='5') Humanities
                option(value='6') Government Jobs
                option(value='7') School-level Opportunities
                option(value='8') Other fields
        .form-group
          label(for='formGroupExampleInput2')
            | Eligibility/Prerequisites 
            span.asterisk *
          #eligibility.white
          input#o3(type='hidden' name='opportunity[eligibility]' required='')
        .form-group
          label(for='formGroupExampleInput2')
            | Important Dates 
            span.asterisk *
          #dates.white
          input#o4(type='hidden' name='opportunity[dates]' required='')
        .form-group
          label(for='formGroupExampleInput2') Registration Process 
          #process.white
          input#o5(type='hidden' name='opportunity[process]' required='')
        .form-group
          label(for='formGroupExampleInput2')
            | Benefits/Prizes/Perks 
            span.asterisk *
          #prize.white
          input#o6(type='hidden' name='opportunity[prize]' required='')
        .form-group
          label(for='formGroupExampleInput2') Other Details
          #other.white
          input#o8(type='hidden' name='opportunity[other]' required='')
        .form-group
          label(for='formGroupExampleInput2')
            | Contact details for more information
            span.asterisk *
          #contact.white
          input#o7(type='hidden' name='opportunity[contact]' required='')
        .text-center
          button.btn.btn-lg.px-5(type='submit') Submit
    include ../partials/footer.pug