include ../../partials/header1.pug
  body  
    .jumbotron
      .container
        include ../../partials/navbar.pug
      div(class="container opph1 text-center") 
        h1 Humantinies
    include ./general.pug
    include ../../partials/footer.pug
