nav#sidebar 
    div(class="sidebar-header") SiderBar 
    ul(class="list-unstyled components")
      li(class="active")
        a(data-toggle="collapse" aria-expanded="false" class="dropdown-toggle")
          i(class="fas fa-home")
          span Home
        ul#homeSubmenu(class='collapse list-unstyled')
          li
            a Home
          li
            a Home
      li 
        a Document 
      li 
        a Procedure 